@mixin mobile {
    @media(max-width:1080px) {
        @content;
    }
}

.dashboard1 {
    .db1NavBar {
        height: 8vh;
        background-color: rgb(9, 9, 99);
    }

    .db1NavBarMobile {
        display: none;
        height: 8vh;
        background-color: rgb(9, 9, 99);
    }

    .db1Page {
        height: 92vh;
        background-color: rgb(15, 185, 185);
    }

    @include mobile {
        .db1NavBar {
            display: none;
            background-color: rgb(9, 9, 99);
        }

        .db1NavBarMobile {
            display: flex;
            height: 100vh;
            background-color: rgb(9, 9, 99);
            transition: all 1s -.3s;
        }
    
        .db1Page {
            display: none;
        }    
    }
}