@mixin mobile {
    @media(max-width:920px) {
        @content;
    }
}

.dashboard2 {
    .db2NavBar {
        height: 8vh;
        background-color: rgb(9, 9, 99);
    }

    .db2NavBarMobile {
        display: none;
        height: 8vh;
        background-color: rgb(9, 9, 99);
    }

    .db2Page {
        height: 92vh;
        background-color: rgb(15, 185, 185);
    }

    @include mobile {
        .db2NavBar {
            display: none;
            background-color: rgb(9, 9, 99);
        }

        .db2NavBarMobile {
            display: block;
            height: 100vh;
            background-color: rgb(9, 9, 99);
        }
    
        .db2Page {
            display: none;
        }
    
    }

}