.navbarmobile {
    height: 100vh;
    // display: flex;
    // align-items: center;
    font-size: 20px;

    .nbmwrapper {
        // width: 100%;
        // display: flex;
        // justify-content: space-between;
        // background-color: gray;

        .nbmLogo {
            // width: 100vw;
            height: 100vh;
            display: grid;
            grid-template-rows:
                10% 10% 10% 10% 10% 
                10% 10% 10% 10% 10%;
            // background-color: aqua;

            .nbmLink-Home {
                display: flex;
                align-items: center;
                width: 100vw;
                text-decoration: none;
                grid-row: 4 / 5;
                color: white;

                .nbmicon {
                    display: none;
                }

                .nbmtext {
                    width: 100vw;
                    text-align: center;
                }

            }

            .nbmLink-Dashboard1 {
                display: flex;
                align-items: center;
                text-decoration: none;
                grid-row: 5 / 6;
                color: white;

                .nbmicon {
                    display: none;
                }

                .nbmtext {
                    width: 100vw;
                    text-align: center;
                }
            }

            .nbmLink-Dashboard2 {
                display: flex;
                align-items: center;
                text-decoration: none;
                grid-row: 6 / 7;
                color: white;

                .nbmicon {
                    display: none;
                }

                .nbmtext {
                    width: 100vw;
                    text-align: center;
                }
            }

            .nbmLink-Contact {
                display: flex;
                align-items: center;
                text-decoration: none;
                grid-row: 7 / 8;
                color: white;
               
                .nbmicon {
                    display: none;
                }

                .nbmtext {
                    width: 100vw;
                    text-align: center;
                }
            }
        }
    }
}