.d1Contain {
    .d1icon {
        width: 50vw;
        height: 40vh;
    }

    .d1Contain-Contain {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 45vh 45vh;

        .d1Contain-Contain-Grid1 {
            grid-row: 1 / 2;
            grid-column: 1/2;
            // background-color: lightblue;
        }

        .d1Contain-Contain-Grid2 {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            // background-color: purple;
        }

        .d1Contain-Contain-Grid3 {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            // background-color: yellow;

            .Table{
                background-color: rgb(15, 185, 185);
                // margin: 10px;
            }
        }

        .d1Contain-Contain-Grid4 {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            // background-color: red;
        }
    }


}