.d1Contain {

    .d1Contain-Contain {
        display: grid;
        grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
        grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
        // border: 1px;
        // border-color: black;

        .d1Contain-Contain-Title1 {
            grid-row: 1 / 2;
            grid-column: 2 / 13;
            line-height: 10vh;
            // background-color: #00DD00;
            display: flex;
            align-items: center;
            text-decoration: none;

            h3 {
                color: #4F4F4F;
            }

            .nbmicon:hover{
                cursor: wait;
                // background-color: orange;
            }
        }

        .d1Contain-Contain-Title2 {
            grid-row: 1 / 2;
            grid-column: 15 / 21;
            line-height: 10vh;
            display: flex;
            align-items: center;
            text-decoration: none;

            h3 {
                color: #4F4F4F;
            }

            .nbmicon:hover{
                cursor: wait;
                // background-color: orange;
            }
        }

        .d1Contain-Contain-Title3 {
            grid-row: 5 / 6;
            grid-column: 2 / 5;
            line-height: 10vh;
            display: flex;
            align-items: center;
            text-decoration: none;

            h3 {
                color: #4F4F4F;
            }

            .nbmicon:hover{
                cursor: wait;
                // background-color: orange;
            }
        }

        .d1Contain-Contain-Title4 {
            grid-row: 3 / 4;
            grid-column: 15 / 18;
            line-height: 10vh;
            display: flex;
            align-items: center;
            text-decoration: none;

            h3 {
                color: #4F4F4F;
            }

            .nbmicon:hover{
                cursor: wait;
                // background-color: orange;
            }
        }

        .d1Contain-Contain-Title5 {
            grid-row: 3 / 4;
            grid-column: 2 / 13;
            line-height: 10vh;
            display: flex;
            align-items: center;
            text-decoration: none;

            h3 {
                color: #4F4F4F;
            }

            .nbmicon:hover{
                cursor: wait;
                // background-color: orange;
            }
        }

        .d1Contain-Contain-Grid1 {
            grid-row: 2 / 3;
            grid-column: 2 / 13;
            // background-color: lightblue;

            .Table {
                background-color: #FDFFFF;
                // background-color: red;
                // margin: 10px;

                h3 {
                    color: #4F4F4F;
                }
            }
        }

        .d1Contain-Contain-Grid2 {
            grid-row: 2 / 3;
            grid-column: 15 / 20;
            // background-color: purple;

            .Table {
                background-color: #FDFFFF;
                // background-color: red;
                // margin: 10px;

                h3 {
                    color: #4F4F4F;
                }
            }
        }

        .d1Contain-Contain-Grid3 {
            grid-row: 6 / 9;
            grid-column: 2 / 13;
            // background-color: yellow;

            .Table {
                background-color: #FDFFFF;
                // background-color: red;
                // margin: 10px;

                h3 {
                    color: #4F4F4F;
                }
            }

            .point {
                width: 30px;
                height: 30px;

                background-color: black;
                border-radius: 50px;
            }
        }


        .d1Contain-Contain-Grid4 {
            grid-row: 4 / 5;
            grid-column: 15 / 16;
            // background-color: yellow;

            .point {
                width: 60px;
                height: 60px;

                background-color: #00DD00;
                border-radius: 50px;
            }
        }

        .d1Contain-Contain-Grid5 {
            grid-row: 5 / 6;
            grid-column: 15 / 16;
            // background-color: yellow;

            .point {
                width: 60px;
                height: 60px;

                background-color: yellow;
                border-radius: 50px;
            }
        }

        .d1Contain-Contain-Grid6 {
            grid-row: 6 / 7;
            grid-column: 15 / 16;
            // background-color: yellow;

            .point {
                width: 60px;
                height: 60px;

                background-color: orange;
                border-radius: 50px;
            }
        }

        .d1Contain-Contain-Grid7 {
            grid-row: 7 / 8;
            grid-column: 15 / 16;
            // background-color: yellow;

            .point {
                width: 60px;
                height: 60px;

                background-color: red;
                border-radius: 50px;
            }
        }

        .d1Contain-Contain-Grid8 {
            grid-row: 8 / 9;
            grid-column: 15 / 16;
            // background-color: yellow;

            .point {
                width: 60px;
                height: 60px;

                background-color: #444444;
                border-radius: 50px;
            }
        }

        .d1Contain-Contain-Grid9 {
            grid-row: 4 / 5;
            grid-column: 16 / 18;
            // background-color: yellow;

            h3 {
                color: #4F4F4F;
            }
        }

        .d1Contain-Contain-Grid10 {
            grid-row: 5 / 6;
            grid-column: 16 / 18;
            // background-color: yellow;

            h3 {
                color: #4F4F4F;
            }
        }

        .d1Contain-Contain-Grid11 {
            grid-row: 6 / 7;
            grid-column: 16 / 18;
            // background-color: yellow;

            h3 {
                color: #4F4F4F;
            }
        }

        .d1Contain-Contain-Grid12 {
            grid-row: 7 / 8;
            grid-column: 16 / 18;
            // background-color: yellow;

            h3 {
                color: #4F4F4F;
            }
        }

        .d1Contain-Contain-Grid13 {
            grid-row: 8 / 9;
            grid-column: 16 / 18;
            // background-color: yellow;

            h3 {
                color: #4F4F4F;
            }
        }

        .d1Contain-Contain-Grid14 {
            grid-row: 4 / 5;
            grid-column: 2 / 9;
            // background-color: lightblue;

            .Table {
                background-color: #FDFFFF;
                // background-color: red;
                // margin: 10px;

                h3 {
                    color: #4F4F4F;
                }
            }
        }


        .d1Contain-Contain-Grid15 {
            grid-row: 3 / 10;
            grid-column: 14 / 20;
            margin: 30px 20px 10px 20px;
            // background-color: lightblue;
            border-radius: 15px;
            border: black;
            border-style: solid;
            
            
        }

        .d1Contain-Contain-GridTest {
            grid-row: 4 / 5;
            grid-column: 19 / 20;
            // background-color: yellow;

        }
    }
}